<div class="container-fluid">
  <div class="row m-3">
    <div class="col-6">
      <div style="height:900px;">
        <canvas
          baseChart
          [datasets]="financialChartData"
          [options]="financialChartOptions"
          [colors]="financialChartColors"
          [legend]="financialChartLegend"
          [chartType]="financialChartType"
          [plugins]="financialChartPlugins"
        >
        </canvas>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Base</span>
          </div>
          <select
            class="custom-select"
            [(ngModel)]="selectedCrypto"
            (ngModelChange)="onChangeSelect($event, 0)"
          >
            <option>Select a cryptocurrency</option>
            <option value="BTC">Bitcoin</option>
            <option value="ETH">Ethereum</option>
            <option value="LTC">Litecoin</option>
            <option value="IOTA">IOTA</option>
          </select>
        </div>

        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Counter</span>
          </div>
          <select
            class="custom-select"
            [(ngModel)]="selectedCounter"
            (ngModelChange)="onChangeSelect($event, 1)"
          >
            <option>Select a counter asset</option>
            <option value="USDT">Tether</option>
            <option value="BTC">Bitcoin</option>
            <option value="ETH">Ethereum</option>
          </select>
        </div>

        <div
          [ngClass]="{ 'alert alert-danger w-100 mt-3': true }"
          role="alert"
          *ngIf="mensajeAlerta != null"
        >
          <strong>Status</strong> {{ mensajeAlerta }}
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
